@model CreateMemberRequest
@* @Html.AntiForgeryToken() *@

<h2> Add Member </h2>
@{
    ViewData["Title"] = "Create Member";
}

<form asp-action="AddMember" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" id="FirstName" name="FirstName" required>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" id="LastName" name="LastName" required>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherNames">Other Names</label>
        <input asp-for="OtherNames" class="form-control" id="OtherNames" name="OtherNames">
        <span asp-validation-for="OtherNames" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" class="form-control" id="Gender" name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" id="Email" name="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MobileNumber">Mobile Number</label>
        <input asp-for="MobileNumber" class="form-control" id="MobileNumber" name="MobileNumber" required>
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NIN">NIN</label>
        <input asp-for="NIN" class="form-control" id="NIN" name="NIN" required>
        <span asp-validation-for="NIN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Account.AccountName">Account Name</label>
        <input asp-for="Account.AccountName" class="form-control" id="Account_AccountName" name="Account.AccountName" required>
        <span asp-validation-for="Account.AccountName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.AccountNumber">Account Number</label>
        <input asp-for="Account.AccountNumber" class="form-control" id="Account_AccountNumber" name="Account.AccountNumber" required>
        <span asp-validation-for="Account.AccountNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.BankName">Bank Name</label>
        <input asp-for="Account.BankName" class="form-control" id="Account_BankName" name="Account.BankName" required>
        <span asp-validation-for="Account.BankName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.BVN">BVN</label>
        <input asp-for="Account.BVN" class="form-control" id="Account_BVN" name="Account.BVN" required>
        <span asp-validation-for="Account.BVN" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>