@model CreateGroupRequest
@Html.AntiForgeryToken()

<h1>Create New Group</h1>

@{
    ViewData["Title"] = "Create New Group";
}

<form asp-action="CreateGroup" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Slots">Slots:</label>
        <input asp-for="Slots" class="form-control" />
        <span asp-validation-for="Slots" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label asp-for="Period">Period:</label>
        <input asp-for="Period" class="form-control" />
        <span asp-validation-for="Period" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="Period">Period</label>
        <select asp-for="Period" class="form-control" id="Period" name="Period" required>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Fortnightly">Fortnightly</option>
            <option value="Monthly">Monthly</option>
            <option value="Annually">Annually</option>
        </select>
        <span asp-validation-for="Period" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tenure">Tenure:</label>
        <input asp-for="Tenure" class="form-control" />
        <span asp-validation-for="Tenure" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDay">Due Day:</label>
        <input asp-for="DueDay" class="form-control" />
        <span asp-validation-for="DueDay" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreatedBy">Created By (Member Name):</label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
