@model CreateGroupRequest

<h1>Add Group</h1>

<form asp-action="CreateGroup">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Slots">Slots:</label>
        <input asp-for="Slots" class="form-control" />
        <span asp-validation-for="Slots" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Period">Period:</label>
        <input asp-for="Period" class="form-control" />
        <span asp-validation-for="Period" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tenure">Tenure:</label>
        <input asp-for="Tenure" class="form-control" />
        <span asp-validation-for="Tenure" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDay">Due Day:</label>
        <input asp-for="DueDay" class="form-control" />
        <span asp-validation-for="DueDay" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>